*.sql linguist-detectable=true
*.sql linguist-language=sql
3rd-Year/Web_Systems_and_Technologies/Finals/PlarisanWebApp/Scripts/** linguist-vendored
3rd-Year/Web_Systems_and_Technologies/Finals/PT_Plarisan_Marc/wwwroot/** linguist-vendored
4th-Year/Game_Development/Prelims/PlarisanMarc_BSIT701_Lab2/** linguist-vendored
4th-Year/Game_Development/Prelims/PlarisanMarc_BSIT701_02_PerformanceTask_1/Assets/TextMesh[[:space:]]Pro/** linguist-vendored
4th-Year/Game_Development/Midterms/04_Laboratory_Exercise_01/Assets/TextMesh[[:space:]]Pro/** linguist-vendored
