@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    <h1 class="d-flex justify-content-center">List of Movies</h1>
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>Movie Name</th>
            <th>Price</th>
            <th>Schedule</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Days</td>
            <td>₱ 350</td>
            <td>October 29, 2020</td>
        </tr>
        <tr>
            <td>2</td>
            <td>A Thousand Cuts</td>
            <td>₱ 375</td>
            <td>August 7, 2020</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Slay Zone</td>
            <td>₱ 385</td>
            <td>February 14, 2024</td>
        </tr>
        <tr>
            <td>4</td>
            <td>The Worst Person in the World</td>
            <td>₱ 325</td>
            <td>July 9, 2021</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Arcadian</td>
            <td>₱ 545</td>
            <td>April 12, 2024</td>
        </tr>
    </table>
}
