@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    <h1 class="d-flex justify-content-center">List of Employees</h1>
    <table class="table">
        <tr>
            <th>#</th>
            <th>First</th>
            <th>Last</th>
            <th>Salary</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Jack</td>
            <td>Sparrow</td>
            <td>₱ 32,000</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Marc</td>
            <td>Plarisan</td>
            <td>₱ 287,000</td>
        </tr>
        <tr>
            <td>3</td>
            <td>John</td>
            <td>Smith</td>
            <td>₱ 48,000</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Angelina</td>
            <td>Ravencourt</td>
            <td>₱ 62,000</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Kyle</td>
            <td>Villanueva</td>
            <td>₱ 55,000</td>
        </tr>
    </table>
}
